@tailwind base;
@tailwind components;
@tailwind utilities;

input,
input[type='password'] {
  display: block;
  width: 100%;
  outline: none;
  background-color: theme('colors.gray.100');
  /* background-color: var(--primary); */
  padding: 0.5rem;
  color: #000;
  border-radius: 5px;
}

input::placeholder {
  color: #8087b3;
  opacity: 1; /* Firefox */
}

.input-container .icon-plus {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 100%;
}