.dashboard-main-cotainer {
  background-image: linear-gradient(
    to top,
    #051937,
    #032255,
    #132972,
    #302d8e,
    #512da8
  );
  height: 92.2vh;
}

.content-dashboard {
  transition: all 0.6s ease-in-out;
  width: 100vw !important;
  max-width: 100%;
}
